In [33]:
import pandas as pd 
trip = pd.read_csv("trip_subtrip_cohérente.csv",sep = ";")
trip.head()

,Unnamed: 0.1,Unnamed: 0,id_utente_x,trip_id,subtrip_id,subtrip_type,points_x,calories_x,distance_x,avg_speed,duration_x,start_time_x,end_time_x,points_y,calories_y,distance_y,duration_y,start_time_y,end_time_y,duration_seconds
0,0,0,5457,205334,108835,Walking,56,111,0.151824,5.49600,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00,56.0,111.0,0.151824,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00,1855.0
1,5,5,5457,211159,109792,Walking,31,136,0.087396,12.28800,0:37:45,2022-02-05 16:02:51+00:00,2022-02-05 16:40:36+00:00,31.0,136.0,0.087396,0:37:45,2022-02-05 16:02:51+00:00,2022-02-05 16:40:36+00:00,2265.0
2,7,7,5457,212495,109950,Walking,18,48,0.055931,2.35800,0:13:36,2022-02-07 08:13:01+00:00,2022-02-07 08:26:37+00:00,18.0,48.0,0.055931,0:13:36,2022-02-07 08:13:01+00:00,2022-02-07 08:26:37+00:00,816.0
3,8,8,5457,213037,110018,Walking,74,37,0.206984,8.45400,0:10:22,2022-02-07 16:49:31+00:00,2022-02-07 16:59:53+00:00,298.0,135.0,3.321827,0:48:39,2022-02-07 16:49:31+00:00,2022-02-07 17:38:10+00:00,622.0
4,10,10,5457,213368,110127,Walking,427,129,1.296441,5.25816,0:35:53,2022-02-08 12:04:22+00:00,2022-02-08 12:40:15+00:00,427.0,129.0,1.296441,0:35:53,2022-02-08 12:04:22+00:00,2022-02-08 12:40:15+00:00,2153.0

In [16]:
#suppresion de la colonne
trip.drop(columns="Unnamed: 0", inplace= True)

In [17]:
#conversion en format durée 
trip['duration_x'] = pd.to_timedelta(trip['duration_x'])

In [18]:
#calcul rapide d'indicateur basique
print("sum points : ", trip["points_x"].sum())
print("sum calories : ", trip["calories_x"].sum())
print("sum distance : ", trip["distance_x"].sum())
print("sum avg_speed : ", trip["avg_speed"].sum())
print("sum duration_y : ", trip["duration_x"].sum())
print("number of users: ", trip["id_utente_x"].nunique())

sum points :  4543523
sum calories :  912956
sum distance :  86125.68488373538
sum avg_speed :  165284.8408637955
sum duration_y :  279 days 13:28:00
number of users:  78

In [19]:
import pandas as pd
#stockage des indicateurs dans un df 
trip_sums_and_count = {
    "sum_points": trip["points_x"].sum(),  
    "sum_calories": trip["calories_x"].sum(),  
    "sum_distance": trip["distance_x"].sum(),  
    "sum_avg_speed": trip["avg_speed"].sum(), 
    "sum_duration": trip["duration_x"].sum(),  
    "number_of_users": trip["id_utente_x"].nunique() 
}

trip_df = pd.DataFrame([trip_sums_and_count])

trip_df

,sum_points,sum_calories,sum_distance,sum_avg_speed,sum_duration,number_of_users
0,4543523,912956,86125.684884,165284.840864,279 days 13:28:00,78

# paul va

In [8]:
import pandas as pd 
trip = pd.read_csv("trip_subtrip_mtp.csv",sep = ",")
trip.head()

,Unnamed: 0,id_utente_x,trip_id,subtrip_id,subtrip_type,distance_x,duration_x,start_time_x,end_time_x,distance_y,duration_y,start_time_y,end_time_y
0,0,14252434704690,937825,430779,Biking,8.424502,0:24:50,2024-02-27 08:08:46+00:00,2024-02-27 08:33:36+00:00,8.424502,0:24:50,2024-02-27 08:08:46+00:00,2024-02-27 08:33:36+00:00
1,1,14252434704690,938154,430992,Biking,8.488922,0:26:39,2024-02-27 15:28:55+00:00,2024-02-27 15:55:34+00:00,8.488922,0:26:39,2024-02-27 15:28:55+00:00,2024-02-27 15:55:34+00:00
2,2,14252434704690,939681,431815,Biking,8.465968,0:32:23,2024-02-29 07:48:04+00:00,2024-02-29 08:20:27+00:00,8.465968,0:32:23,2024-02-29 07:48:04+00:00,2024-02-29 08:20:27+00:00
3,3,14252434704690,939730,431841,Biking,8.404429,0:26:36,2024-02-29 11:36:41+00:00,2024-02-29 12:03:17+00:00,8.404429,0:26:36,2024-02-29 11:36:41+00:00,2024-02-29 12:03:17+00:00
4,4,14252434704690,940588,432339,Walking,1.419071,0:16:57,2024-03-01 08:16:09+00:00,2024-03-01 08:33:06+00:00,1.419071,0:16:57,2024-03-01 08:16:09+00:00,2024-03-01 08:33:06+00:00

In [9]:
trip.drop(columns="Unnamed: 0", inplace= True)
trip['duration_x'] = pd.to_timedelta(trip['duration_x'])

#print("sum points : ", trip["points_x"].sum())
#print("sum calories : ", trip["calories_x"].sum())
print("sum distance : ", trip["distance_x"].sum())
#print("sum avg_speed : ", trip["avg_speed"].sum())
print("sum duration_x : ", trip["duration_x"].sum())
print("number of users: ", trip["id_utente_x"].nunique())

sum distance :  179.8936785957479
sum duration_x :  0 days 16:41:17
number of users:  9

## generate data

In [12]:
import pandas as pd
gener = pd.read_csv("generate_data_mtp.csv")
gener

,Unnamed: 0,id_utente_x,trip_id,subtrip_id,subtrip_type,distance_x,duration_x,start_time_x,end_time_x,distance_y,duration_y,start_time_y,end_time_y
0,0,30414026294829,984085,483302,BikeElectric,2.687819,01:10:28,2022-05-13 05:10:26+00:00,2022-05-13 07:07:05+00:00,2.687819,01:10:28,2022-05-13 05:10:26+00:00,2022-05-13 07:07:05+00:00
1,1,35600213838130,951683,438064,Scooter,2.557866,01:33:20,2023-12-22 17:13:33+00:00,2023-12-22 17:52:06+00:00,2.557866,01:33:20,2023-12-22 17:13:33+00:00,2023-12-22 17:52:06+00:00
2,2,96900160784351,903454,495439,Metro,9.629107,00:50:30,2023-06-18 06:42:50+00:00,2023-06-18 07:00:24+00:00,9.629107,00:50:30,2023-06-18 06:42:50+00:00,2023-06-18 07:00:24+00:00
3,3,24726428585547,913091,409694,Walking,1.916527,00:36:32,2023-05-27 04:33:25+00:00,2023-05-27 06:10:51+00:00,1.916527,00:36:32,2023-05-27 04:33:25+00:00,2023-05-27 06:10:51+00:00
4,4,94206159999062,960247,412959,Scooter,3.501527,01:31:31,2023-12-02 17:06:04+00:00,2023-12-02 17:21:45+00:00,3.501527,01:31:31,2023-12-02 17:06:04+00:00,2023-12-02 17:21:45+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8593,8593,84151751652391,989515,435822,Biking,4.419938,01:25:09,2023-05-20 08:24:51+00:00,2023-05-20 08:32:05+00:00,4.419938,01:25:09,2023-05-20 08:24:51+00:00,2023-05-20 08:32:05+00:00
8594,8594,81577543729657,940788,468919,Bus,3.591802,00:58:58,2023-02-21 18:20:12+00:00,2023-02-21 19:47:11+00:00,3.591802,00:58:58,2023-02-21 18:20:12+00:00,2023-02-21 19:47:11+00:00
8595,8595,30414026294829,942202,483325,Bus,5.720360,01:32:31,2023-02-20 21:16:41+00:00,2023-02-20 23:02:56+00:00,5.720360,01:32:31,2023-02-20 21:16:41+00:00,2023-02-20 23:02:56+00:00
8596,8596,84151751652391,902586,431463,Train,2.719703,00:24:22,2022-06-21 15:34:18+00:00,2022-06-21 15:40:45+00:00,2.719703,00:24:22,2022-06-21 15:34:18+00:00,2022-06-21 15:40:45+00:00
8597,8597,27700880316853,956097,404581,Scooter,5.993498,00:46:39,2022-03-14 05:50:01+00:00,2022-03-14 07:00:11+00:00,5.993498,00:46:39,2022-03-14 05:50:01+00:00,2022-03-14 07:00:11+00:00

In [13]:
gener.drop(columns="Unnamed: 0", inplace= True)
gener['duration_x'] = pd.to_timedelta(gener['duration_x'])

#print("sum points : ", trip["points_x"].sum())
#print("sum calories : ", trip["calories_x"].sum())
print("sum distance : ", gener["distance_x"].sum())
#print("sum avg_speed : ", trip["avg_speed"].sum())
print("sum duration_x : ", gener["duration_x"].sum())
print("number of users: ", gener["id_utente_x"].nunique())

sum distance :  45142.79563141989
sum duration_x :  360 days 00:43:14
number of users:  79

In [20]:

# Placeholder values for the sums and unique count
trip_sums_and_count_mtp = {
    "sum_distance": gener["distance_x"].sum(),  # replace with trip["distance_x"].sum()
    "sum_duration": gener["duration_x"].sum(),  # replace with trip["duration_x"].sum()
    "number_of_users": gener["id_utente_x"].nunique()  # replace with trip["id_utente_x"].nunique()
}

# Convert the dictionary into a pandas DataFrame
trip_df_mtp = pd.DataFrame([trip_sums_and_count_mtp])

# Display the DataFrame
trip_df_mtp

   sum_distance      sum_duration  number_of_users
0  45142.795631 360 days 00:43:14               79

### ecart

In [31]:
#calcul des ecarts entre le sindicateurs des deux df 
ecart_distance = trip['distance_x'].sum() - gener["distance_x"].sum()
ecart_durée = trip['duration_x'].sum()- gener["duration_x"].sum()
ecart_user = trip['id_utente_x'].nunique()- gener["id_utente_x"].nunique()

In [32]:
ecart_distance
ecart_durée
ecart_user

-1