In [1]:
import pandas as pd 
trip = pd.read_csv("LUX_trip_22.csv",sep = ";")
subtrip = pd.read_csv("LUX_subtrip_22.csv",sep = ";")
gpspoints = pd.read_csv("LUX_gpspoints_22.csv", sep=";")
trip

,id_utente,trip_id,validation,points,calories,distance,duration,start_time,end_time,frequent_trip_ids,device
0,5457,204773,rejected,0,0,0.000000,0:00:00,2022-01-28 18:30:59+00:00,2022-01-28 18:41:02+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.152
1,5457,205334,yes,56,111,0.151824,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.152
2,5457,205588,yes,152,28,2.204645,0:11:52,2022-01-29 17:48:11+00:00,2022-01-29 18:00:03+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.152
3,5457,206133,yes,168,328,0.511120,1:29:29,2022-01-30 13:54:32+00:00,2022-01-30 15:24:01+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.152
4,5457,207240,rejected,0,0,0.000000,0:00:00,2022-02-01 06:55:29+00:00,2022-02-01 07:19:42+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.152
...,...,...,...,...,...,...,...,...,...,...,...
6995,12323,484263,yes,340,76,4.507045,0:17:11,2022-12-04 11:28:43+00:00,2022-12-04 11:45:54+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."
6996,12323,484267,yes,314,72,4.459219,0:16:01,2022-12-04 11:54:19+00:00,2022-12-04 12:10:20+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."
6997,12323,484434,yes,800,322,6.339299,1:36:41,2022-12-04 12:27:25+00:00,2022-12-04 14:04:06+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."
6998,12323,484542,yes,51,17,0.416072,0:05:33,2022-12-04 15:03:56+00:00,2022-12-04 15:09:29+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."
6999,12323,484868,yes,237,37,0.605423,0:11:33,2022-12-05 07:03:08+00:00,2022-12-05 07:14:41+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."

In [2]:
trip = trip[trip["validation"]=="yes"]
trip

,id_utente,trip_id,validation,points,calories,distance,duration,start_time,end_time,frequent_trip_ids,device
1,5457,205334,yes,56,111,0.151824,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.152
2,5457,205588,yes,152,28,2.204645,0:11:52,2022-01-29 17:48:11+00:00,2022-01-29 18:00:03+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.152
3,5457,206133,yes,168,328,0.511120,1:29:29,2022-01-30 13:54:32+00:00,2022-01-30 15:24:01+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.152
7,5457,211153,yes,133,64,2.232783,0:25:21,2022-02-05 15:18:14+00:00,2022-02-05 15:43:35+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.157
8,5457,211159,yes,31,136,0.087396,0:37:45,2022-02-05 16:02:51+00:00,2022-02-05 16:40:36+00:00,[],samsung lahaina SM-A528B 11 Android 1.0.157
...,...,...,...,...,...,...,...,...,...,...,...
6995,12323,484263,yes,340,76,4.507045,0:17:11,2022-12-04 11:28:43+00:00,2022-12-04 11:45:54+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."
6996,12323,484267,yes,314,72,4.459219,0:16:01,2022-12-04 11:54:19+00:00,2022-12-04 12:10:20+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."
6997,12323,484434,yes,800,322,6.339299,1:36:41,2022-12-04 12:27:25+00:00,2022-12-04 14:04:06+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."
6998,12323,484542,yes,51,17,0.416072,0:05:33,2022-12-04 15:03:56+00:00,2022-12-04 15:09:29+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."
6999,12323,484868,yes,237,37,0.605423,0:11:33,2022-12-05 07:03:08+00:00,2022-12-05 07:14:41+00:00,[],"Apple iPhone13,2 iPhone 12 16.1.1 iOS 1.0.341 ..."

In [3]:
trip = trip.drop(['frequent_trip_ids', 'device'], axis = 1)
trip

,id_utente,trip_id,validation,points,calories,distance,duration,start_time,end_time
1,5457,205334,yes,56,111,0.151824,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00
2,5457,205588,yes,152,28,2.204645,0:11:52,2022-01-29 17:48:11+00:00,2022-01-29 18:00:03+00:00
3,5457,206133,yes,168,328,0.511120,1:29:29,2022-01-30 13:54:32+00:00,2022-01-30 15:24:01+00:00
7,5457,211153,yes,133,64,2.232783,0:25:21,2022-02-05 15:18:14+00:00,2022-02-05 15:43:35+00:00
8,5457,211159,yes,31,136,0.087396,0:37:45,2022-02-05 16:02:51+00:00,2022-02-05 16:40:36+00:00
...,...,...,...,...,...,...,...,...,...
6995,12323,484263,yes,340,76,4.507045,0:17:11,2022-12-04 11:28:43+00:00,2022-12-04 11:45:54+00:00
6996,12323,484267,yes,314,72,4.459219,0:16:01,2022-12-04 11:54:19+00:00,2022-12-04 12:10:20+00:00
6997,12323,484434,yes,800,322,6.339299,1:36:41,2022-12-04 12:27:25+00:00,2022-12-04 14:04:06+00:00
6998,12323,484542,yes,51,17,0.416072,0:05:33,2022-12-04 15:03:56+00:00,2022-12-04 15:09:29+00:00
6999,12323,484868,yes,237,37,0.605423,0:11:33,2022-12-05 07:03:08+00:00,2022-12-05 07:14:41+00:00

In [4]:
subtrip = subtrip.drop(['validation','car_pool_id'], axis = 1)
subtrip

,id_utente,trip_id,subtrip_id,subtrip_type,points,calories,distance,avg_speed,duration,start_time,end_time
0,5457,205334,108835,Walking,56,111,0.151824,5.496000,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00
1,5457,205588,108851,Bus,152,28,2.204645,23.801143,0:11:52,2022-01-29 17:48:11+00:00,2022-01-29 18:00:03+00:00
2,5457,206133,108930,Walking,168,328,0.511120,76.383000,1:29:29,2022-01-30 13:54:32+00:00,2022-01-30 15:24:01+00:00
3,5457,211153,109782,Bus,11,15,0.185788,2.016000,0:06:13,2022-02-05 15:18:14+00:00,2022-02-05 15:24:27+00:00
4,5457,211153,109786,Bus,122,49,2.046995,22.806000,0:19:08,2022-02-05 15:24:27+00:00,2022-02-05 15:43:35+00:00
...,...,...,...,...,...,...,...,...,...,...,...
8782,12323,484263,170649,Biking,340,76,4.507045,16.932960,0:17:11,2022-12-04 11:28:43+00:00,2022-12-04 11:45:54+00:00
8783,12323,484267,170655,Biking,314,72,4.459219,18.060750,0:16:01,2022-12-04 11:54:19+00:00,2022-12-04 12:10:20+00:00
8784,12323,484434,170658,Walking,800,322,6.339299,4.560807,1:36:41,2022-12-04 12:27:25+00:00,2022-12-04 14:04:06+00:00
8785,12323,484542,170684,Walking,51,17,0.416072,4.654286,0:05:33,2022-12-04 15:03:56+00:00,2022-12-04 15:09:29+00:00
8786,12323,484868,170776,Walking,237,37,0.605423,5.045143,0:11:33,2022-12-05 07:03:08+00:00,2022-12-05 07:14:41+00:00

In [10]:
data_final = subtrip.merge(trip, on= 'trip_id',how='left')
data_final

,id_utente_x,trip_id,subtrip_id,subtrip_type,points_x,calories_x,distance_x,avg_speed,duration_x,start_time_x,end_time_x,id_utente_y,validation,points_y,calories_y,distance_y,duration_y,start_time_y,end_time_y
0,5457,205334,108835,Walking,56,111,0.151824,5.496000,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00,5457.0,yes,56.0,111.0,0.151824,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00
1,5457,205588,108851,Bus,152,28,2.204645,23.801143,0:11:52,2022-01-29 17:48:11+00:00,2022-01-29 18:00:03+00:00,5457.0,yes,152.0,28.0,2.204645,0:11:52,2022-01-29 17:48:11+00:00,2022-01-29 18:00:03+00:00
2,5457,206133,108930,Walking,168,328,0.511120,76.383000,1:29:29,2022-01-30 13:54:32+00:00,2022-01-30 15:24:01+00:00,5457.0,yes,168.0,328.0,0.511120,1:29:29,2022-01-30 13:54:32+00:00,2022-01-30 15:24:01+00:00
3,5457,211153,109782,Bus,11,15,0.185788,2.016000,0:06:13,2022-02-05 15:18:14+00:00,2022-02-05 15:24:27+00:00,5457.0,yes,133.0,64.0,2.232783,0:25:21,2022-02-05 15:18:14+00:00,2022-02-05 15:43:35+00:00
4,5457,211153,109786,Bus,122,49,2.046995,22.806000,0:19:08,2022-02-05 15:24:27+00:00,2022-02-05 15:43:35+00:00,5457.0,yes,133.0,64.0,2.232783,0:25:21,2022-02-05 15:18:14+00:00,2022-02-05 15:43:35+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8782,12323,484263,170649,Biking,340,76,4.507045,16.932960,0:17:11,2022-12-04 11:28:43+00:00,2022-12-04 11:45:54+00:00,12323.0,yes,340.0,76.0,4.507045,0:17:11,2022-12-04 11:28:43+00:00,2022-12-04 11:45:54+00:00
8783,12323,484267,170655,Biking,314,72,4.459219,18.060750,0:16:01,2022-12-04 11:54:19+00:00,2022-12-04 12:10:20+00:00,12323.0,yes,314.0,72.0,4.459219,0:16:01,2022-12-04 11:54:19+00:00,2022-12-04 12:10:20+00:00
8784,12323,484434,170658,Walking,800,322,6.339299,4.560807,1:36:41,2022-12-04 12:27:25+00:00,2022-12-04 14:04:06+00:00,12323.0,yes,800.0,322.0,6.339299,1:36:41,2022-12-04 12:27:25+00:00,2022-12-04 14:04:06+00:00
8785,12323,484542,170684,Walking,51,17,0.416072,4.654286,0:05:33,2022-12-04 15:03:56+00:00,2022-12-04 15:09:29+00:00,12323.0,yes,51.0,17.0,0.416072,0:05:33,2022-12-04 15:03:56+00:00,2022-12-04 15:09:29+00:00
8786,12323,484868,170776,Walking,237,37,0.605423,5.045143,0:11:33,2022-12-05 07:03:08+00:00,2022-12-05 07:14:41+00:00,12323.0,yes,237.0,37.0,0.605423,0:11:33,2022-12-05 07:03:08+00:00,2022-12-05 07:14:41+00:00

In [11]:
data_final.drop(['id_utente_y','validation'],axis = 1, inplace = True)
data_final

,id_utente_x,trip_id,subtrip_id,subtrip_type,points_x,calories_x,distance_x,avg_speed,duration_x,start_time_x,end_time_x,points_y,calories_y,distance_y,duration_y,start_time_y,end_time_y
0,5457,205334,108835,Walking,56,111,0.151824,5.496000,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00,56.0,111.0,0.151824,0:30:55,2022-01-29 15:29:45+00:00,2022-01-29 16:00:40+00:00
1,5457,205588,108851,Bus,152,28,2.204645,23.801143,0:11:52,2022-01-29 17:48:11+00:00,2022-01-29 18:00:03+00:00,152.0,28.0,2.204645,0:11:52,2022-01-29 17:48:11+00:00,2022-01-29 18:00:03+00:00
2,5457,206133,108930,Walking,168,328,0.511120,76.383000,1:29:29,2022-01-30 13:54:32+00:00,2022-01-30 15:24:01+00:00,168.0,328.0,0.511120,1:29:29,2022-01-30 13:54:32+00:00,2022-01-30 15:24:01+00:00
3,5457,211153,109782,Bus,11,15,0.185788,2.016000,0:06:13,2022-02-05 15:18:14+00:00,2022-02-05 15:24:27+00:00,133.0,64.0,2.232783,0:25:21,2022-02-05 15:18:14+00:00,2022-02-05 15:43:35+00:00
4,5457,211153,109786,Bus,122,49,2.046995,22.806000,0:19:08,2022-02-05 15:24:27+00:00,2022-02-05 15:43:35+00:00,133.0,64.0,2.232783,0:25:21,2022-02-05 15:18:14+00:00,2022-02-05 15:43:35+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8782,12323,484263,170649,Biking,340,76,4.507045,16.932960,0:17:11,2022-12-04 11:28:43+00:00,2022-12-04 11:45:54+00:00,340.0,76.0,4.507045,0:17:11,2022-12-04 11:28:43+00:00,2022-12-04 11:45:54+00:00
8783,12323,484267,170655,Biking,314,72,4.459219,18.060750,0:16:01,2022-12-04 11:54:19+00:00,2022-12-04 12:10:20+00:00,314.0,72.0,4.459219,0:16:01,2022-12-04 11:54:19+00:00,2022-12-04 12:10:20+00:00
8784,12323,484434,170658,Walking,800,322,6.339299,4.560807,1:36:41,2022-12-04 12:27:25+00:00,2022-12-04 14:04:06+00:00,800.0,322.0,6.339299,1:36:41,2022-12-04 12:27:25+00:00,2022-12-04 14:04:06+00:00
8785,12323,484542,170684,Walking,51,17,0.416072,4.654286,0:05:33,2022-12-04 15:03:56+00:00,2022-12-04 15:09:29+00:00,51.0,17.0,0.416072,0:05:33,2022-12-04 15:03:56+00:00,2022-12-04 15:09:29+00:00
8786,12323,484868,170776,Walking,237,37,0.605423,5.045143,0:11:33,2022-12-05 07:03:08+00:00,2022-12-05 07:14:41+00:00,237.0,37.0,0.605423,0:11:33,2022-12-05 07:03:08+00:00,2022-12-05 07:14:41+00:00

In [ ]:
data_final.to_csv("trip_subtrip.csv",sep = ";")